[run]
# Only measure coverage for your 'backend' code:
source = backend
branch = True

[report]
exclude_lines =
pragma: no cover


def __repr__


if __name__ == .__main__.
raise AssertionError
raise NotImplementedError


# Go ahead with the rest, omit *only* the test files & conftest.py
omit =
*/tests/*
*/conftest.py

[html]
directory = coverage_html_report

[xml]
output = coverage.xml
